.pokeApp{
  background-color: brown !important;
}
main{
  /* height: 10rem; */
  height: calc(100vh - 120px);
}
.hero{
  background: url("https://source.unsplash.com/fs6zYhHyzvI/") no-repeat fixed
center center/cover;

  height: 100%;
  color: #edf3f7;
}






/* ####### Footer ###### */

 p{ 
  font-size: 1rem;
  color: white;
}

 .icons i {
  color: #e2d3d3;
  margin: 10px ;
  font-size: 25px;
  margin-bottom: 0;
}

 .icons i:hover{
  color:black;
  transition: 1s;
}

.text-center{
  border-radius: 0 !important;
}
/* footer end */